body{
    background-color:rgb(195, 238, 233);
}

h1{
    font-size:200%;
    margin:0%;
}

    h7{
        font-size:600%;
        color:red;
        margin:0
}
h11{
    background-color:#F8F8FF;
    font-size:300%;
    margin:0;
}
p1{
    margin:6;
    color:green;
    background-color:white;
}
div{
    background-color:white;
}

h3{
    margin:0%
}
